body {
    --body-text-color: #000;
    --body-back-color: #ffffff;
    --body-text-alt-color: #7d7d7d;

    color: var(--body-text-color);
    background-color: var(--body-back-color);

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    min-width: 450px;
}

h3,
label,
p,
a,
input#export,
input#import,
input#reset,
input#importbutton,
input#importpicker,
input#requestall {
    margin-left: 15px;
    margin-right: 15px;
}

input#export,
input#import {
    margin-top: 5px;
}

input#reset {
    margin-top: 25px;
}

p {
    margin-top: 0px;
    font-style: italic;
    font-size: 11px;
    width: 95%;
    max-width: 450px;
    color: var(--body-text-alt-color);
}

a {
    color: rgb(51, 167, 255);
    width: 95%;
    text-decoration: none;
}

a:hover {
    opacity: 50%;
    text-decoration: underline;
}

label {
    display: inline-block;
    width: 175px;
    margin-bottom: 10px;
}

.div-request-permission,
.div-request-contentscript {
    display: none;
}

.div-request-permission label,
.div-request-contentscript label {
    font-size: 15px;
}

.disabled {
    pointer-events: none;
    opacity: 50%;
}

.hyperlink {
    color: rgb(51, 167, 255);
}